#avatar {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  border: thin black;
}
.top {
  color: rgb(229, 222, 222);
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
body {
  background-image: url("../img/workspace1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  text-align: center;
}
#sidebar {
  width: 300px;
  text-align: center;
  align-items: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
a {
  color: inherit;
  font-weight: 200;
  text-decoration: none;
  padding: 3px;
}
.links {
  margin-bottom: 10px;
}
#sidebar2 {
  width: 300px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.second {
  margin-left: 190px;
  margin-right: 5px;
  justify-items: center;
}
.title {
  text-align: center;
  font-size: 20px;
  width: 1141px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: 190px;
}
.aside1 {
  font-family: monospace;
  background-color: #46434334;

  color: aqua;
}
.first {
  position: fixed;
  height: 100vh;
}
.aside2 {
  background-color: #46434334;
  margin-top: -5px;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 50px;
}
#toolkit {
  margin-top: 100px;
}
#tools {
  border-radius: 19px;
}
.aside3 {
  font-family: monospace;
  background-color: #46434334;
  color: aqua;
}
.page-2 {
  margin-left: 200px;
}
